    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to our event site !</h1>
          <p>If you want to know more.</p><br>
          <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
      </div>

<!-- /container -->
      <p id="notice"><%= notice %></p>

      <div class="container">
          <h1>Events</h1>
          <br>
            <h3>Je t'invite à créer ton propre évenement : 
            <a class="btn btn-info btn-sm" href="<%= '/events/new' %>" role="button">Create Event </a><br><br>
            </h3>
          <br>

          <h3>Ci-dessous nos événements les plus récents.</h3>

        <!-- Example row of columns -->
        <div class="row">
          <% @events.each do |event| %>
          <div class="col-md-4">
            <h2><%=event.title %></h2>
            <p><%=event.description %></p>
            <p><a class="btn btn-info"  role="button">View details » </a></p>
            <tr>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
          </div>
           <% end %>
        </div>
 
      </div> 
 
    </main>
      <br>
      <br>
      <br>
 </body>
</html>
